*.exo filter=lfs diff=lfs merge=lfs -text
*.restart.data filter=lfs diff=lfs merge=lfs -text
*.restart.dofmap filter=lfs diff=lfs merge=lfs -text
examples/mesh/full_induction_mhd/ filter=lfs diff=lfs merge=lfs -text
